.fondo {
    height             : 100vh;
    width              : 100vw;
    /*background-image   : url('fondo.jpg');
    background-size    : 100%;
    background-repeat  : no-repeat;
    background-position: center;*/
    background: url("img/fondo.jpg") center no-repeat;
    background-size: 100%
}

body {
    margin: 0
}