.actividad {
    background           : url("img/checkbox.png");
    background-position-x: -15px;
    background-position-y: -50px;
    background-size      : 200px;
}

label {
    height           : 50px;
    width            : 50px;
    display          : inline-block;
    background-repeat: no-repeat;
}

.actividad2 {
    background           : url("img/checkbox.png");
    background-position-x: 65px;
    background-position-y: -50px;
    background-size      : 200px;
    display              : none;

}

.boton {
    display: none;
}

.boton:checked+.actividad {
    background-position-x: 65px;

}

.actividad:hover {
    background-position-x: 125px;
    cursor               : pointer;

}